## Background

**Data Link** : [link](https://www.kaggle.com/c/titanic/data) 

In this exercise, I will investigate the Titanic Data Set. The Data is obtained from Kaggle, and the sample set consists of the characteristics of passengers in the Titanic. 

I will be following the **Data Analysis Process** and based on the reading of the Data I came up with the below initial set of Questions 

1. How much did the class(Upper/Middle/Lower) affect the survival rate of the passenger
2. Does the fact that some passengers were travelling with siblings/parents impact the travel rate?
	- Was it more prominent for passengers travelling with siblings or,
	- Was it more prominent for passengers travelling with parents
3. Did young passengers survive more than the older passengers?
4. Did the cabin number where the passengers were put up, play a role in whether they survived or not.

In [8]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Import the Titanic Data and Load a Sample 

passenger_df = pd.read_csv('P2 - Investigate a Dataset using Python/Data/train.csv')
passenger_df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Ticket</th>
      <th>Fare</th>
      <th>Cabin</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>C85</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>Heikkinen, Miss. Laina</td>
      <td>female</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>STON/O2. 3101282</td>
      <td>7.9250</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>
      <td>female</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
      <td>113803</td>
      <td>53.1000</td>
      <td>C123</td>
      <td>S</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>0</td>
      <td>3</td>
      <td>Allen, Mr. William Henry</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>373450</td>
      <td>8.0500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
  </tbody>
</table>
</div>

## Step 1 Understand the Data + Data Cleansing + Readability Improvements 
This is a Data Set of **891** passengers

Data Dictionary

1. Passenger Id - Id of the Passenger
2. Survived - Showed if the Passenger Survived or Died
	- 0 = Died
	- 1 = Survived
3. Pclass - Class on which the passenger has travelled
	- 1 = 1st Class
	- 2 = 2nd Class
	- 3 = 3rd Class
4. Name - Name of the Passenger
5. Sex (Gender) of the Passenger 
	- male
	- femal
6. Age - Age of the Passenger (in Years) - See note
7. sibsp - 	# of siblings / spouses aboard the Titanic	
8. parch - 	# of parents / children aboard the Titanic	
9. ticket -	Ticket number	
10. fare -	Passenger fare	
11. cabin -	Cabin number	
12. embarked	Port of Embarkation	
	- C = Cherbourg, 
	- Q = Queenstown, 
	- S = Southampton

###Guiding Notes

pclass: A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way...
	- Sibling = brother, sister, stepbrother, stepsister
	- Spouse = husband, wife (mistresses and fianc√©s were ignored)

parch: The dataset defines family relations in this way...
	- Parent = mother, father
	- Child = daughter, son, stepdaughter, stepson
	Some children travelled only with a nanny, therefore parch=0 for them.

In [4]:
# Printing a Basic Summary 
# Will give us an idea if any cleansing / wrangling is required
passenger_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
#Cleansing AGE - No Values can be substituted for the Age
# So we will take it out seperately so that we can look at it in isolation, and see if we can derive any insights. 
age_df = passenger_df['Age']
age_df =age_df.dropna()
print ("The No of Age Records is : ", age_df.count())
print (" The Mean is : ", age_df.mean())
age_df.describe()

('The No of Age Records is : ', 714)
(' The Mean is : ', 29.69911764705882)

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

###Data Cleansing is required in the Age, Cabin and Embarked Fields

In [6]:
#Data Cleansing for Embarked
print ("Values for Embarked : ", passenger_df['Embarked'].unique())
max_occuring_embarkation_point = %passenger_df['Embarked'].mode()
print ("The max occuring value for EMBARKED is %s, So We can replace it is that" %passenger_df['Embarked'].mode())

passenger_df['Embarked'].fillna(value="S",inplace=True)

ERROR:root:Line magic function `%passenger_df['Embarked'].mode()` not found.

('Values for Embarked : ', array(['S', 'C', 'Q', nan], dtype=object))
The max occuring value for EMBARKED is 0    S
dtype: object, So We can replace it is that

In [7]:
#Data Cleansing - for Passenger Class
def cleanse_data_replace_values(df):
    df.head()
    class_dict = {1:'UPPER', 2:'MIDDLE', 3:"LOWER"}
    df['Pclass'] =df['Pclass'].map(class_dict)

    #Data Cleansing for Survived
    survival_dict = {1: 'SURVIVED', 0:'PERISHED'}
    df['Survived']=df['Survived'].map(survival_dict)
    
    embarked_dict = { 'S':"SOUTHAMPTON", 'C': "CHERBOURG", 'Q':"QUEENSTOWN"}
    df['Embarked'] =df['Embarked'].map(embarked_dict)
    
    return df

    

cleanse_data_replace_values(passenger_df)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Ticket</th>
      <th>Fare</th>
      <th>Cabin</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>SURVIVED</td>
      <td>UPPER</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>C85</td>
      <td>CHERBOURG</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>SURVIVED</td>
      <td>LOWER</td>
      <td>Heikkinen, Miss. Laina</td>
      <td>female</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>STON/O2. 3101282</td>
      <td>7.9250</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>SURVIVED</td>
      <td>UPPER</td>
      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>
      <td>female</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
      <td>113803</td>
      <td>53.1000</td>
      <td>C123</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Allen, Mr. William Henry</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>373450</td>
      <td>8.0500</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Moran, Mr. James</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>330877</td>
      <td>8.4583</td>
      <td>NaN</td>
      <td>QUEENSTOWN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>PERISHED</td>
      <td>UPPER</td>
      <td>McCarthy, Mr. Timothy J</td>
      <td>male</td>
      <td>54.0</td>
      <td>0</td>
      <td>0</td>
      <td>17463</td>
      <td>51.8625</td>
      <td>E46</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Palsson, Master. Gosta Leonard</td>
      <td>male</td>
      <td>2.0</td>
      <td>3</td>
      <td>1</td>
      <td>349909</td>
      <td>21.0750</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>SURVIVED</td>
      <td>LOWER</td>
      <td>Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)</td>
      <td>female</td>
      <td>27.0</td>
      <td>0</td>
      <td>2</td>
      <td>347742</td>
      <td>11.1333</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>SURVIVED</td>
      <td>MIDDLE</td>
      <td>Nasser, Mrs. Nicholas (Adele Achem)</td>
      <td>female</td>
      <td>14.0</td>
      <td>1</td>
      <td>0</td>
      <td>237736</td>
      <td>30.0708</td>
      <td>NaN</td>
      <td>CHERBOURG</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>SURVIVED</td>
      <td>LOWER</td>
      <td>Sandstrom, Miss. Marguerite Rut</td>
      <td>female</td>
      <td>4.0</td>
      <td>1</td>
      <td>1</td>
      <td>PP 9549</td>
      <td>16.7000</td>
      <td>G6</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>SURVIVED</td>
      <td>UPPER</td>
      <td>Bonnell, Miss. Elizabeth</td>
      <td>female</td>
      <td>58.0</td>
      <td>0</td>
      <td>0</td>
      <td>113783</td>
      <td>26.5500</td>
      <td>C103</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Saundercock, Mr. William Henry</td>
      <td>male</td>
      <td>20.0</td>
      <td>0</td>
      <td>0</td>
      <td>A/5. 2151</td>
      <td>8.0500</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Andersson, Mr. Anders Johan</td>
      <td>male</td>
      <td>39.0</td>
      <td>1</td>
      <td>5</td>
      <td>347082</td>
      <td>31.2750</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Vestrom, Miss. Hulda Amanda Adolfina</td>
      <td>female</td>
      <td>14.0</td>
      <td>0</td>
      <td>0</td>
      <td>350406</td>
      <td>7.8542</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>SURVIVED</td>
      <td>MIDDLE</td>
      <td>Hewlett, Mrs. (Mary D Kingcome)</td>
      <td>female</td>
      <td>55.0</td>
      <td>0</td>
      <td>0</td>
      <td>248706</td>
      <td>16.0000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Rice, Master. Eugene</td>
      <td>male</td>
      <td>2.0</td>
      <td>4</td>
      <td>1</td>
      <td>382652</td>
      <td>29.1250</td>
      <td>NaN</td>
      <td>QUEENSTOWN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>SURVIVED</td>
      <td>MIDDLE</td>
      <td>Williams, Mr. Charles Eugene</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>244373</td>
      <td>13.0000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Vander Planke, Mrs. Julius (Emelia Maria Vande...</td>
      <td>female</td>
      <td>31.0</td>
      <td>1</td>
      <td>0</td>
      <td>345763</td>
      <td>18.0000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>SURVIVED</td>
      <td>LOWER</td>
      <td>Masselmani, Mrs. Fatima</td>
      <td>female</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>2649</td>
      <td>7.2250</td>
      <td>NaN</td>
      <td>CHERBOURG</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>PERISHED</td>
      <td>MIDDLE</td>
      <td>Fynney, Mr. Joseph J</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>239865</td>
      <td>26.0000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>SURVIVED</td>
      <td>MIDDLE</td>
      <td>Beesley, Mr. Lawrence</td>
      <td>male</td>
      <td>34.0</td>
      <td>0</td>
      <td>0</td>
      <td>248698</td>
      <td>13.0000</td>
      <td>D56</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>SURVIVED</td>
      <td>LOWER</td>
      <td>McGowan, Miss. Anna "Annie"</td>
      <td>female</td>
      <td>15.0</td>
      <td>0</td>
      <td>0</td>
      <td>330923</td>
      <td>8.0292</td>
      <td>NaN</td>
      <td>QUEENSTOWN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>SURVIVED</td>
      <td>UPPER</td>
      <td>Sloper, Mr. William Thompson</td>
      <td>male</td>
      <td>28.0</td>
      <td>0</td>
      <td>0</td>
      <td>113788</td>
      <td>35.5000</td>
      <td>A6</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Palsson, Miss. Torborg Danira</td>
      <td>female</td>
      <td>8.0</td>
      <td>3</td>
      <td>1</td>
      <td>349909</td>
      <td>21.0750</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>SURVIVED</td>
      <td>LOWER</td>
      <td>Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>5</td>
      <td>347077</td>
      <td>31.3875</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Emir, Mr. Farred Chehab</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>2631</td>
      <td>7.2250</td>
      <td>NaN</td>
      <td>CHERBOURG</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>PERISHED</td>
      <td>UPPER</td>
      <td>Fortune, Mr. Charles Alexander</td>
      <td>male</td>
      <td>19.0</td>
      <td>3</td>
      <td>2</td>
      <td>19950</td>
      <td>263.0000</td>
      <td>C23 C25 C27</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>SURVIVED</td>
      <td>LOWER</td>
      <td>O'Dwyer, Miss. Ellen "Nellie"</td>
      <td>female</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>330959</td>
      <td>7.8792</td>
      <td>NaN</td>
      <td>QUEENSTOWN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Todoroff, Mr. Lalio</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>349216</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>861</th>
      <td>862</td>
      <td>PERISHED</td>
      <td>MIDDLE</td>
      <td>Giles, Mr. Frederick Edward</td>
      <td>male</td>
      <td>21.0</td>
      <td>1</td>
      <td>0</td>
      <td>28134</td>
      <td>11.5000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>862</th>
      <td>863</td>
      <td>SURVIVED</td>
      <td>UPPER</td>
      <td>Swift, Mrs. Frederick Joel (Margaret Welles Ba...</td>
      <td>female</td>
      <td>48.0</td>
      <td>0</td>
      <td>0</td>
      <td>17466</td>
      <td>25.9292</td>
      <td>D17</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>863</th>
      <td>864</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Sage, Miss. Dorothy Edith "Dolly"</td>
      <td>female</td>
      <td>NaN</td>
      <td>8</td>
      <td>2</td>
      <td>CA. 2343</td>
      <td>69.5500</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>864</th>
      <td>865</td>
      <td>PERISHED</td>
      <td>MIDDLE</td>
      <td>Gill, Mr. John William</td>
      <td>male</td>
      <td>24.0</td>
      <td>0</td>
      <td>0</td>
      <td>233866</td>
      <td>13.0000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>865</th>
      <td>866</td>
      <td>SURVIVED</td>
      <td>MIDDLE</td>
      <td>Bystrom, Mrs. (Karolina)</td>
      <td>female</td>
      <td>42.0</td>
      <td>0</td>
      <td>0</td>
      <td>236852</td>
      <td>13.0000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>866</th>
      <td>867</td>
      <td>SURVIVED</td>
      <td>MIDDLE</td>
      <td>Duran y More, Miss. Asuncion</td>
      <td>female</td>
      <td>27.0</td>
      <td>1</td>
      <td>0</td>
      <td>SC/PARIS 2149</td>
      <td>13.8583</td>
      <td>NaN</td>
      <td>CHERBOURG</td>
    </tr>
    <tr>
      <th>867</th>
      <td>868</td>
      <td>PERISHED</td>
      <td>UPPER</td>
      <td>Roebling, Mr. Washington Augustus II</td>
      <td>male</td>
      <td>31.0</td>
      <td>0</td>
      <td>0</td>
      <td>PC 17590</td>
      <td>50.4958</td>
      <td>A24</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>868</th>
      <td>869</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>van Melkebeke, Mr. Philemon</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>345777</td>
      <td>9.5000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>869</th>
      <td>870</td>
      <td>SURVIVED</td>
      <td>LOWER</td>
      <td>Johnson, Master. Harold Theodor</td>
      <td>male</td>
      <td>4.0</td>
      <td>1</td>
      <td>1</td>
      <td>347742</td>
      <td>11.1333</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>870</th>
      <td>871</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Balkic, Mr. Cerin</td>
      <td>male</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>349248</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>871</th>
      <td>872</td>
      <td>SURVIVED</td>
      <td>UPPER</td>
      <td>Beckwith, Mrs. Richard Leonard (Sallie Monypeny)</td>
      <td>female</td>
      <td>47.0</td>
      <td>1</td>
      <td>1</td>
      <td>11751</td>
      <td>52.5542</td>
      <td>D35</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>872</th>
      <td>873</td>
      <td>PERISHED</td>
      <td>UPPER</td>
      <td>Carlsson, Mr. Frans Olof</td>
      <td>male</td>
      <td>33.0</td>
      <td>0</td>
      <td>0</td>
      <td>695</td>
      <td>5.0000</td>
      <td>B51 B53 B55</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>873</th>
      <td>874</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Vander Cruyssen, Mr. Victor</td>
      <td>male</td>
      <td>47.0</td>
      <td>0</td>
      <td>0</td>
      <td>345765</td>
      <td>9.0000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>874</th>
      <td>875</td>
      <td>SURVIVED</td>
      <td>MIDDLE</td>
      <td>Abelson, Mrs. Samuel (Hannah Wizosky)</td>
      <td>female</td>
      <td>28.0</td>
      <td>1</td>
      <td>0</td>
      <td>P/PP 3381</td>
      <td>24.0000</td>
      <td>NaN</td>
      <td>CHERBOURG</td>
    </tr>
    <tr>
      <th>875</th>
      <td>876</td>
      <td>SURVIVED</td>
      <td>LOWER</td>
      <td>Najib, Miss. Adele Kiamie "Jane"</td>
      <td>female</td>
      <td>15.0</td>
      <td>0</td>
      <td>0</td>
      <td>2667</td>
      <td>7.2250</td>
      <td>NaN</td>
      <td>CHERBOURG</td>
    </tr>
    <tr>
      <th>876</th>
      <td>877</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Gustafsson, Mr. Alfred Ossian</td>
      <td>male</td>
      <td>20.0</td>
      <td>0</td>
      <td>0</td>
      <td>7534</td>
      <td>9.8458</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>877</th>
      <td>878</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Petroff, Mr. Nedelio</td>
      <td>male</td>
      <td>19.0</td>
      <td>0</td>
      <td>0</td>
      <td>349212</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>878</th>
      <td>879</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Laleff, Mr. Kristo</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>349217</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>879</th>
      <td>880</td>
      <td>SURVIVED</td>
      <td>UPPER</td>
      <td>Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)</td>
      <td>female</td>
      <td>56.0</td>
      <td>0</td>
      <td>1</td>
      <td>11767</td>
      <td>83.1583</td>
      <td>C50</td>
      <td>CHERBOURG</td>
    </tr>
    <tr>
      <th>880</th>
      <td>881</td>
      <td>SURVIVED</td>
      <td>MIDDLE</td>
      <td>Shelley, Mrs. William (Imanita Parrish Hall)</td>
      <td>female</td>
      <td>25.0</td>
      <td>0</td>
      <td>1</td>
      <td>230433</td>
      <td>26.0000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>881</th>
      <td>882</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Markun, Mr. Johann</td>
      <td>male</td>
      <td>33.0</td>
      <td>0</td>
      <td>0</td>
      <td>349257</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>882</th>
      <td>883</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Dahlberg, Miss. Gerda Ulrika</td>
      <td>female</td>
      <td>22.0</td>
      <td>0</td>
      <td>0</td>
      <td>7552</td>
      <td>10.5167</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>883</th>
      <td>884</td>
      <td>PERISHED</td>
      <td>MIDDLE</td>
      <td>Banfield, Mr. Frederick James</td>
      <td>male</td>
      <td>28.0</td>
      <td>0</td>
      <td>0</td>
      <td>C.A./SOTON 34068</td>
      <td>10.5000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>884</th>
      <td>885</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Sutehall, Mr. Henry Jr</td>
      <td>male</td>
      <td>25.0</td>
      <td>0</td>
      <td>0</td>
      <td>SOTON/OQ 392076</td>
      <td>7.0500</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>885</th>
      <td>886</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Rice, Mrs. William (Margaret Norton)</td>
      <td>female</td>
      <td>39.0</td>
      <td>0</td>
      <td>5</td>
      <td>382652</td>
      <td>29.1250</td>
      <td>NaN</td>
      <td>QUEENSTOWN</td>
    </tr>
    <tr>
      <th>886</th>
      <td>887</td>
      <td>PERISHED</td>
      <td>MIDDLE</td>
      <td>Montvila, Rev. Juozas</td>
      <td>male</td>
      <td>27.0</td>
      <td>0</td>
      <td>0</td>
      <td>211536</td>
      <td>13.0000</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>887</th>
      <td>888</td>
      <td>SURVIVED</td>
      <td>UPPER</td>
      <td>Graham, Miss. Margaret Edith</td>
      <td>female</td>
      <td>19.0</td>
      <td>0</td>
      <td>0</td>
      <td>112053</td>
      <td>30.0000</td>
      <td>B42</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>888</th>
      <td>889</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Johnston, Miss. Catherine Helen "Carrie"</td>
      <td>female</td>
      <td>NaN</td>
      <td>1</td>
      <td>2</td>
      <td>W./C. 6607</td>
      <td>23.4500</td>
      <td>NaN</td>
      <td>SOUTHAMPTON</td>
    </tr>
    <tr>
      <th>889</th>
      <td>890</td>
      <td>SURVIVED</td>
      <td>UPPER</td>
      <td>Behr, Mr. Karl Howell</td>
      <td>male</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>111369</td>
      <td>30.0000</td>
      <td>C148</td>
      <td>CHERBOURG</td>
    </tr>
    <tr>
      <th>890</th>
      <td>891</td>
      <td>PERISHED</td>
      <td>LOWER</td>
      <td>Dooley, Mr. Patrick</td>
      <td>male</td>
      <td>32.0</td>
      <td>0</td>
      <td>0</td>
      <td>370376</td>
      <td>7.7500</td>
      <td>NaN</td>
      <td>QUEENSTOWN</td>
    </tr>
  </tbody>
</table>
<p>891 rows √ó 12 columns</p>
</div>

In [26]:
#DATA EXPLORATION 
# Let us start by describing the Data Set
passenger_df.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Fare</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>891.000000</td>
      <td>714.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>446.000000</td>
      <td>29.699118</td>
      <td>0.523008</td>
      <td>0.381594</td>
      <td>32.204208</td>
    </tr>
    <tr>
      <th>std</th>
      <td>257.353842</td>
      <td>14.526497</td>
      <td>1.102743</td>
      <td>0.806057</td>
      <td>49.693429</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>0.420000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>223.500000</td>
      <td>20.125000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>7.910400</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>446.000000</td>
      <td>28.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>14.454200</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>668.500000</td>
      <td>38.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>31.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>891.000000</td>
      <td>80.000000</td>
      <td>8.000000</td>
      <td>6.000000</td>
      <td>512.329200</td>
    </tr>
  </tbody>
</table>
</div>

## Step 2 Data Exploration 
Now we shall try to answer our initial Questions 
1. Does class (Upper/Middle/Lower) affect the survival rate of the passenger
	- Try to plot

In [ ]:
#First Writing some helper functions

def get_percentage(x,y):
    return (x/y)*100

def pie_plot(x,x_axes_name):
    # Pie chart, where the slices will be ordered and plotted counter-clockwise:
    labels = '1', '2', '3', '4'
    sizes = np.array(x)
    explode = (0, 0.1, 0, 0)  # only "explode" the 2nd slice (i.e. 'Hogs')

    fig1, ax1 = plt.subplots()
    ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)
    ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
    plt.show()
    return None

In [32]:
df= passenger_df.groupby(['Pclass','Survived']).sum()
df = pd.DataFrame(df)
df = df.reset_index()
df.head()
df_selected_columns = df[['Pclass','Survived','PassengerId']]
df_selected_columns.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Pclass</th>
      <th>Survived</th>
      <th>PassengerId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>LOWER</td>
      <td>PERISHED</td>
      <td>168732</td>
    </tr>
    <tr>
      <th>1</th>
      <td>LOWER</td>
      <td>SURVIVED</td>
      <td>46893</td>
    </tr>
    <tr>
      <th>2</th>
      <td>MIDDLE</td>
      <td>PERISHED</td>
      <td>43856</td>
    </tr>
    <tr>
      <th>3</th>
      <td>MIDDLE</td>
      <td>SURVIVED</td>
      <td>38200</td>
    </tr>
    <tr>
      <th>4</th>
      <td>UPPER</td>
      <td>PERISHED</td>
      <td>32824</td>
    </tr>
  </tbody>
</table>
</div>